extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home
		.container
			.row
				.col
					.box 
						.title
							h3 SAMSUNG GALAXY NOTE 8
							br
							h2 22.490.000
						.content
							.row
								.col-sm-4
									img.img-fluid(src="img/1.png", alt="")
								.col-sm-8
									.row
										.col
											h3 khuyến mãi
											h2 Gỉảm giá 3.330.000(chỉ còn 19.190.000)
												br
												span hoặc
									.row
										.col-sm-4
											img.img-fluid(src="img/1.png", alt="")
										.col-sm-8
											p tặng 1 samsung 
											price gía 2.990.000
							.row
								.col.text-center
									.button
										a(href="#") Mua Ngay				