.box
	border: 2px solid #f00 
	border-radius: 5px
	background: white
	.title
		padding: 1rem 2rem 
		background: #f00 
		color: #ffffff
	.content 
		padding: 2rem 3rem 
		p
			color: yellow
		h2 
			color: #fff 
			span 
				color: red
		.button
			padding-top: 2rem
			a
				color: red 
				background: yellow
				padding: 1rem 2rem 
				border-radius: 3rem
				text-decoration: none
		

	 
	

	
	
		
		
		
		
		
	